<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">User Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mybody">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
$('document').ready(function(){
    if($("#userlist").length){
      var myuserlist = document.getElementById("userlist").getElementByTagName("tr");
      for (i = 0; i < myuserlist.length; i++){
        myuserlist[i].addEventListener("click", activateUser);
      }
    }
    function activateUser(){
      var name = this.childNodes[1].innerHTML;
      document.getElementById("mybody").innerHTML = name;
    }
    
   })
</script>